fastapi
uvicorn
streamlit
supabase
python-dotenv
requests
langgraph
langchain
langchain-groq
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-experimental
langchain-text-splitters
pydantic
reportlab
pypdf
python-multipart
tqdm=
langchain-google-genai
